:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
body,
html, 
#root {
  background-color: transparent;
  width: 450px;
  height: 450px;
}
body,
div,
html {
  margin: 0px;
  padding: 0px;
}
